[Unit]
Description= Blink LED
After=multi-user.target
[Service]
ExecStart=/home/sel/beatorrent/blinkgreen.sh
ExecStop=/home/sel/beatorrent/blinkred.sh
user=SEL
[Install]
WantedBy=multi-user.target
